@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #01080E;
  --primary-color: #011627;
  --secondary-color: #607B96;
  --accent-color: #FEA55F;
  --border-color: #1E2D3D;
}

html {
  /* TODO: Do not use this, fix the issue for the y axis scroll */
  overflow-y: hidden;
}

body {
  max-height: 941px;
  height: 100%;
  max-width: 1782px;
  width: 100%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

